@charset "UTF-8";
/* Loading Spinner */
.pop-up {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 10px grey;
  opacity: 0;
  z-index: -2;
  animation: plan 3s;
  animation-iteration-count: 1;
}
.pop-up > div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid #EAEAEA;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  animation: charge 3s linear infinite;
}
.pop-up > h3 {
  font-family: "Shrikhand";
  font-size: 20px;
  color: black;
  margin-top: 15px;
  margin-bottom: 0px;
}

@keyframes plan {
  0% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 1;
    z-index: 2;
  }
}
@keyframes charge {
  0% {
    transform: rotate(0deg);
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
  }
  50% {
    transform: rotate(360deg);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
  100% {
    transform: rotate(720deg);
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
  }
}
/* Animation Cascade Menu */
@keyframes cascade {
  0% {
    transform: translate(-380px);
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
/* Animation Selection */
@keyframes check {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@keyframes texto {
  0% {
    width: 100%;
  }
  100% {
    width: 80%;
    padding-right: 35px;
  }
}
/* Rotation Check */
@keyframes visible {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
/* Animation Bouton */
@keyframes button-on {
  0% {
    box-shadow: 3px 3px 15px #a5a5a5;
    background-image: linear-gradient(#FF79DA, #9356DC);
  }
  50% {
    box-shadow: 4px 4px 12px #a5a5a5;
  }
  100% {
    box-shadow: 5px 5px 10px #a5a5a5;
    background-image: linear-gradient(#f884d7, #a073d8);
    transform: scale(1.1);
  }
}
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Police Titre */
@font-face {
  font-family: "Shrikhand";
  src: url(./polices/Shrikhand-Regular.ttf);
}
/* Police Sous-titre */
@font-face {
  font-family: "Roboto-Black";
  src: url(./polices/Roboto-Black.ttf);
}
/* Police Texte */
@font-face {
  font-family: "Roboto-Regular";
  src: url(./polices/Roboto-Regular.ttf);
}
/* Autres */
@font-face {
  font-family: "Roboto-Light";
  src: url(./polices/Roboto-Light.ttf);
}
/* Affectations */
h1 {
  font-family: "Shrikhand";
  font-size: 25px;
  letter-spacing: 1px;
}

h2 {
  font-family: "Roboto-Black";
}

h3 {
  font-family: "Roboto-Regular";
  font-size: 15px;
}

h4 {
  font-family: "Shrikhand";
  font-weight: normal;
}

h5 {
  font-family: "Roboto-Light";
}

p {
  font-family: "Roboto-Regular";
  color: #505050;
}

span {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: 700;
}

button {
  height: 50px;
  border-radius: 30px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  color: white;
  font-family: "Roboto-Regular";
  font-size: 15px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 3px 3px 15px #a5a5a5;
}
button:hover {
  animation: button-on 1s forwards;
}

header {
  width: 100%;
  height: 60px;
  text-align: center;
  box-shadow: 0px 2px 15px #b8b8b8;
}
header > img {
  margin-top: 20px;
  width: 45%;
}
header > a {
  position: absolute;
  top: 22px;
  left: 20px;
  color: black;
}
header > a > i {
  font-size: 22px;
}

.headerMenu {
  display: flex;
}
.headerMenu__fleche {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Localisation */
.location {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #EAEAEA;
  margin-top: 4px;
}
.location__icone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.location__icone > i {
  color: #505050;
}
.location > p {
  font-family: "Roboto-Regular";
  color: #505050;
  font-size: 15px;
  font-weight: 600;
}

/* Réservez.. */
.explorer {
  text-align: center;
  background-color: #F6F6F6;
  height: 250px;
  padding: 20px;
}
.explorer > h1 {
  font-family: "Roboto-Black";
  font-size: 24px;
}
.explorer > p {
  font-size: 18px;
}

/* Fonctionnement */
.working {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 20px;
  margin-top: -1px;
  padding-bottom: 40px;
}
.working__titre > h2 {
  margin-bottom: 10px;
}
.working__case {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}
.working__case-choice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  height: 70px;
  position: relative;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 4px 4px 8px #EAEAEA;
}
.working__case-choice > i {
  margin-left: 40px;
  margin-right: 30px;
  font-size: 20px;
  color: #505050;
}
.working__case-choice > .fa-store {
  color: #9356DC;
}
.working__case-choice > div {
  position: absolute;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 30px;
  width: 25px;
  height: 25px;
}
.working__case-choice > div > p {
  color: white;
  font-size: 15px;
}

/* Restaurants */
.restaurant {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  width: 100%;
  padding: 20px;
}
.restaurant__case {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.restaurant__case-block {
  display: flex;
  flex-direction: column;
}
.restaurant__case-block > a {
  text-decoration: none;
  color: black;
}
.restaurant__case-choice {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 8px #EAEAEA;
}
.restaurant__case-choice-image {
  position: relative;
  height: 72%;
  width: 100%;
  overflow: hidden;
}
.restaurant__case-choice-image > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__case-choice-image > div {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  background-color: #99E2D0;
}
.restaurant__case-choice-image > div > h3 {
  font-family: "Roboto-Light";
  font-size: 14px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  color: #17a17f;
}
.restaurant__case-choice-text {
  position: relative;
  box-sizing: border-box;
  height: 28%;
  background-color: white;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurant__case-choice-text > h2 {
  font-size: 18px;
  margin: 5px;
}
.restaurant__case-choice-text > p {
  margin: 5px;
  margin-top: 0px;
}
.restaurant__case-choice-text > i {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-size: 23px;
}
.restaurant__case-choice-text > .fa-solid {
  opacity: 0;
  color: #9356DC;
}
.restaurant__case-choice-text > .fa-solid:hover {
  transform-origin: bottom;
  animation: bigger 1s forwards;
}

.heart {
  width: 30px;
  stroke-width: 40;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.heart-full {
  position: absolute;
  right: 30px;
  top: 25px;
  fill: url(#text-fill);
  stroke: none;
}
.heart-empty {
  width: 30px;
  right: 30px;
  top: 25px;
  position: absolute;
}
.heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
  transition: 0.5s;
}

/* Menu */
.menu {
  background-color: #F6F6F6;
}

.menu__image {
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}
.menu__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.carte__menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #F6F6F6;
  width: 100%;
  padding: 20px 15px 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: -45px;
}
.carte__menu-titre {
  display: flex;
  justify-content: space-between;
}
.carte__menu-titre > h1 {
  margin-top: 15px;
  padding-left: 5px;
}
.carte__menu-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 25px;
}
.carte__menu > button {
  width: 50%;
  margin: 30px auto 0px;
  box-shadow: 3px 3px 15px #a5a5a5;
}

.heartM {
  width: 30px;
  stroke-width: 40;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.heartM-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
.heartM-empty {
  position: relative;
  width: 30px;
}
.heartM-empty:hover {
  opacity: 0;
  transition: 0.5s;
  transition: 0.5s;
}

.repas {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 15px;
  width: 100%;
}
.repas > h2 {
  font-family: "Roboto-Light";
  font-size: 17px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 23px;
}
.repas > hr {
  width: 40px;
  height: 3px;
  position: absolute;
  top: 28px;
  left: 5px;
  background-color: #99E2D0;
  border: none;
}
.repas__menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}
.repas__menu-type {
  position: relative;
  background-color: white;
  box-shadow: 4px 4px 8px #EAEAEA;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 15px;
  transform: translate(-380px);
}
.repas__menu-type-text {
  width: 100%;
  height: 100%;
  padding: 12px;
  padding-right: 45px;
  white-space: nowrap;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}
.repas__menu-type-text > h3 {
  font-size: 17px;
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.repas__menu-type-text > p {
  font-size: 14px;
  margin: 0px;
  margin-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.repas__menu-type-text > span {
  position: absolute;
  bottom: 12px;
  right: 15px;
}
.repas__menu-type-text > span > h3 {
  font-size: 14px;
  margin: 0px;
}
.repas__menu-type:hover > .animation-check {
  animation: check 1s forwards;
}
.repas__menu-type:hover > .repas__menu-type-text {
  animation: texto 1s forwards;
}
.repas__menu-type:hover > span {
  animation: decalage 1s forwards;
}
.repas__menu-type:hover > .animation-check > i {
  animation: visible 1s forwards;
  animation-delay: 0.1s;
}
.repas__menu-type:first-child {
  animation: cascade 1s linear;
  animation-fill-mode: forwards;
}
.repas__menu-type:nth-child(2) {
  animation: cascade 1s linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.repas__menu-type:nth-child(3) {
  animation: cascade 1s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.repas__menu-type:nth-child(4) {
  animation: cascade 1s linear;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.animation-check {
  height: 66px;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.animation-check > i {
  opacity: 0;
  font-size: 25px;
  color: white;
  transform: rotate(180deg);
}

/* Footer */
footer {
  width: 100%;
  background-color: #353535;
  box-sizing: border-box;
  padding: 20px;
}
footer > .footer__titre {
  color: white;
}
footer > .footer__titre > h4 {
  margin-top: 0px;
}
footer > nav {
  color: white;
}
footer > nav > ul {
  padding: 0px;
}
footer > nav > ul > li {
  list-style-type: none;
}
footer > nav > ul > li > a {
  text-decoration: none;
  color: white;
}
footer > nav > ul > li > a > h5 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 14px;
  letter-spacing: 1px;
}
footer > nav > ul > li > a > h5 > .fa-utensils {
  margin-right: 10px;
}
footer > nav > ul > li > a > h5 > .fa-handshake-angle {
  margin-right: 5px;
}

/* Tablette */
@media screen and (min-width: 768px) and (max-width: 992px) {
  header > img {
    margin-top: 10px;
    width: 35%;
  }
}
/* Desktop */
@media screen and (min-width: 993px) {
  header {
    height: 70px;
  }
  header > img {
    margin-top: 10px;
    width: 16%;
  }

  .carte__menu {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .working {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .restaurant {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .restaurant__case {
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurant__case-block {
    width: 48%;
  }

  footer {
    padding-left: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
