/* Localisation */

.location {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $silver;
    margin-top: 4px;
    &__icone {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        > i {
            color: rgb(80, 80, 80);
        }
    }
    > h2 {
        font-family: 'Roboto-Regular';
        color: rgb(80, 80, 80);
        font-size: 15px;
    }
}

/* Réservez.. */

.explorer {
    text-align: center;
    background-color: $grey;
    height: 250px;
    padding: 20px;
    > p {
        font-size: 18px;
    }
}

/* Fonctionnement */

.working {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 20px;
    margin-top: -1px;
    padding-bottom: 40px;
    &__titre > h2 {
        margin-bottom: 10px;
    }
    &__case {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        &-choice {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 95%;
            height: 70px;
            position: relative;
            border-radius: 20px;
            background-color: $grey;
            box-shadow: 4px 4px 8px $silver;
            > i {
                margin-left: 40px;
                margin-right: 30px;
                font-size: 20px;
                color: rgb(80, 80, 80);
            }
            > .fa-store {
                color: $primary;
            }
            > div {
                position: absolute;
                left: -15px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary;
                border-radius: 30px;
                width: 25px;
                height: 25px;
                > p {
                    color: white;
                    font-size: 15px;
                }
            }
        }
    }
}

/* Restaurants */

.restaurant {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: $grey;
    width: 100%;
    padding: 20px;
    &__case {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        &-block {
            display: flex;
            flex-direction: column;
            > a {
            text-decoration: none;
            color: black;
            }
        } 
        &-choice {
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            width: 100%;
            height: 250px;
            margin-bottom: 20px;
            box-shadow: 4px 4px 8px $silver;
            &-image {
                position: relative;
                height: 72%;
                width: 100%;
                overflow: hidden;
                > img {
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
                > div {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    border-radius: 5px;
                    background-color: #99E2D0;
                    > h5 {
                        margin: 5px;
                        margin-left: 10px;
                        margin-right: 10px;
                        color: #17a17f;
                    }
                }
            }
            &-text {
                position: relative;
                box-sizing: border-box;
                height: 28%;
                background-color: white;
                padding: 10px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                > h2 {
                    font-size: 18px;
                    margin: 5px;
                }
                > p {
                    margin: 5px;
                    margin-top: 0px
                }
                > i {
                    position: absolute;
                    right: 25px;
                    bottom: 25px;
                    font-size: 23px;
                }
                > .fa-solid {
                    opacity: 0;
                    color: $primary;                  
                    &:hover {
                        transform-origin: bottom;
                        animation: bigger 1s forwards;
                    }
                }
            }
        }
    }
}

.heart {
    width: 30px;
    stroke-width: 40;
    stroke: black;
    fill: white;
    cursor: pointer;
    &-full {
        position: absolute;
        right: 30px;
        top: 25px;
        fill: url(#text-fill);
        stroke: none;
    }
    &-empty {
        width: 30px;
        right: 30px;
        top: 25px;
        position: absolute;
        &:hover {
            opacity: 0;
            transition: 0.5s;
            transition: 0.5s;
        }
    }
}

/* Menu */

.menu {
    background-color: $grey;
}

.menu__image {
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1);
    }
}

.carte__menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: $grey;
    width: 100%;
    padding: 20px 15px 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    top: -45px;
    &-titre {
        display: flex;
        justify-content: space-between;
        > h1 {
            margin-top: 15px;
            padding-left: 5px;
        }
    }
    &-heart {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-right: 25px;
    }
    > button {
        width: 50%;
        margin: 30px auto 0px;
        box-shadow: 3px 3px 15px rgb(165, 165, 165);
    }
}

.heartM {
    width: 30px;
    stroke-width: 40;
    stroke: black;
    fill: white;
    cursor: pointer;
    &-full {
        position: absolute;
        fill: url(#text-fill);
        stroke: none;
    }
    &-empty {
        position: relative;
        width: 30px;
        &:hover {
            opacity: 0;
            transition: 0.5s;
            transition: 0.5s;
        }
    }
}

.repas {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 15px;
    width: 100%;
    > h5 {
        font-size: 17px;
        padding-left: 5px;
        margin-top: 10px;
        margin-bottom: 23px;
    }
    > hr {
        width: 40px;
        height: 3px;
        position: absolute;
        top: 28px;
        left: 5px;
        background-color: #99E2D0;
        border: none;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        &-type {
            position: relative;
            background-color: white;
            box-shadow: 4px 4px 8px $silver;
            width: 100%;
            height: 100%;
            opacity: 0;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            margin-bottom: 15px;
            border-radius: 15px;
            transform: translate(-380px);
            &-text {
                width: 100%;
                height: 100%;
                padding: 12px;
                padding-right: 45px;
                white-space: nowrap;
                position: relative;
                text-overflow: ellipsis;
                overflow: hidden;
                > h3 {
                    font-size: 17px;
                    margin: 0px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                > p {
                    font-size: 14px;
                    margin: 0px;
                    margin-top: 5px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                > span {
                    position: absolute;
                    bottom: 12px;
                    right: 15px;
                    > h3 {
                        font-size: 14px;
                        margin: 0px;
                    }
                }
            }
            &:hover > .animation-check {
                animation: check 1s forwards;
            }
            &:hover > .repas__menu-type-text {
                animation: texto 1s forwards;
            }
            &:hover > span {
                animation: decalage 1s forwards;
            }
            &:hover > .animation-check > i {                
                animation: visible 1s forwards;
                animation-delay: 0.1s;
            }
            &:first-child {
                animation: cascade 1s linear;
                animation-fill-mode: forwards;
            }
            &:nth-child(2) {               
                animation: cascade 1s linear;
                animation-delay: 0.5s;
                animation-fill-mode: forwards;
            }
            &:nth-child(3) {               
                animation: cascade 1s linear;
                animation-delay: 1s;
                animation-fill-mode: forwards;
            }
            &:nth-child(4) {               
                animation: cascade 1s linear;
                animation-delay: 1.5s;
                animation-fill-mode: forwards;
            }
        }
    }
}

.animation-check {
    height: 66px;
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    > i {
        opacity: 0;
        font-size: 25px;
        color: white;
        transform: rotate(180deg);
    }
}