button {
    height: 50px;
    border-radius: 30px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    color: white;
    font-family: 'Roboto-Regular';
    font-size: 15px;
    background-image: linear-gradient($second, $primary);
    box-shadow: 3px 3px 15px #a5a5a5;
    &:hover {
        animation: button-on 1s forwards;
    }
}