button {
    height: 50px;
    border-radius: 30px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    color: white;
    font-family: 'Roboto-Regular';
    font-size: 15px;
    background-image: linear-gradient(rgba(255,121,218,1), rgba(147,86,220,1));
}