/* Loading Spinner */

.pop-up {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px grey;
    opacity: 0;
    z-index: -2;
    animation: plan 3s;
    animation-iteration-count: 1;
    > div {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 10px solid $silver;
        border-top-color: $second;
        border-bottom-color: $second;
        animation: charge 3s linear infinite;

    }
    > h3 {
        font-family: 'Shrikhand';
        font-size: 20px;
        color: black;
        margin-top: 15px;
        margin-bottom: 0px;
    }
}

@keyframes plan {
    0% {
        opacity: 1;
        z-index: 2;
    }
    100% {
        opacity: 1;
        z-index: 2;

    }
}

@keyframes charge {
    0% {
        transform: rotate(0deg);
        border-top-color: $second;
        border-bottom-color: $second;
    }
    50% {
        transform: rotate(360deg);
        border-top-color: $primary;
        border-bottom-color: $primary;
    }
    100% {
        transform: rotate(720deg);
        border-top-color: $second;
        border-bottom-color: $second;
    }
}

/* Animation Cascade Menu */

@keyframes cascade {
    0% {
        transform: translate(-380px);
    }
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

/* Animation Selection */

@keyframes check {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}

@keyframes texto {
    0% {
        width: 100%;
    }
    100% {
        width: 80%;
        padding-right: 35px;
    }
}

/* Rotation Check */

@keyframes visible {
    0% {
        opacity: 0;
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}

/* Animation Bouton */

@keyframes button-on {
    0% {
        box-shadow: 3px 3px 15px #a5a5a5;
        background-image: linear-gradient($second, $primary);
    }
    50% {
        box-shadow: 4px 4px 12px #a5a5a5;
    }
    100% {
        box-shadow: 5px 5px 10px #a5a5a5;
        background-image: linear-gradient(#f884d7, #a073d8);
        transform: scale(1.1);
    }
}
